package components

import "time"

templ DevicePlot(plotType string, datas []float32, timestamps []time.Time) {
	<div id={ "plot-" +  plotType } style="width: 800px; height: 450px;"></div>
	@OnLoad(graph(plotType, datas, timestamps), plotType, datas, timestamps)
}

script graph(plotType string, datas []float32, timestamps []time.Time) {
    var trace1 = {
        x: timestamps,
        y: datas,
        type: "scatter",
    };
    Plotly.newPlot("plot-" + plotType, [trace1]);
}
